<!--The content below is only a placeholder and can be replaced.-->

<div class="container">


  <router-outlet></router-outlet>


</div>


<div class="bottom">
  <div class="row">
    <div class="col-xs-4 text-center app-nav" routerLink="/input">
      <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>

    </div>

    <div class="col-xs-4 text-center app-nav" routerLink="/calendar/month">
      <i class="fa fa-calendar-check-o fa-lg" aria-hidden="true"></i>

    </div>

    <div class="col-xs-4 text-center app-nav" routerLink="/settings">
      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>

    </div>

  </div>
</div>