textarea.form-control {
    height: 10em;
}

/* div.calendar-view {
    margin: 1em;
} */

.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0 auto;
    width: 100%;
    color: dodgerblue;
    background-color: black;
}

.app-nav {
    padding: 1.5em 0 ;
    background-color: rgba(240, 255, 255, 0.5);
}

.input-text {
	margin: 2.5em auto;
	font-size: 1.5em;
}

.input-btn {
    width: 3em;
    height: 3em;
    padding-top: 1em;
    margin: 0 1em;
    border-radius: 50%;
    box-shadow: 0px 0px 1em dodgerblue;
    vertical-align: middle;
    color: dodgerblue;
}

@media screen and (min-width: 768px) {
    .input-btn {
        display: inline-block;
        width: 6em;
        height: 6em;
        padding-top: 2em;
        margin: 0 2em;
        border-radius: 50%;
        box-shadow: 0px 0px 1em dodgerblue;
        vertical-align: middle;
        color: dodgerblue;
    }
}


/* calendar */

.nav-tabs>li.active>a {
	color: #337ab7;
	background-color: transparent;
    border: none;
}

.nav-tabs>li>a {
	color: #AAA;
}

.year-view .month {
    padding: 6px;
    height: 100px;
    background: #eee;
    border: 0.5px solid #DDD;
}

.year-view .month.active {
    background: #1abc9c;
}


.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


/* colour coding for the moods*/
.frustrated { background-color: #ff7c35 !important;}
.angry { background-color: #ff1f01 !important; color: white !important;}
.astonished { background-color: #cfc72f !important;}
.nervous { background-color: #ff1f01 !important;}
.depressed { background-color: #005276 !important;}
.terrified { background-color: #ab7f1d !important;}
.mixed { background-color: #ffdfaf !important;}
.disbelief { background-color: #e475d2 !important;}
.happy { background-color: #0077b9 !important;}
.fear { background-color: #003fb3 !important; color: white !important;}
.sad { background-color: #0077b9 !important; color: white !important;}
.surprised { background-color: #ffeaaa !important;}
.mixed { background-color: #ffdfaf !important;}
.calm { background-color: #c2f0f3 !important;}