textarea.form-control {
    height: 10em;
    background-color:rgba(0,0,0,0.3);
    color: white;
    border: none;
}

input, .input-group-addon:last-child {
    background-color:rgba(0,0,0,0.3);
    color: white;
    border: none;
}

.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0 auto;
    width: 100%;
    color: white;
    background-color:rgba(0,0,0,0.3);
}

.app-nav {
    padding: 1.5em 0 ;
    background-color:rgba(0,0,0,0.3);
}

.input-text {
	margin: 2.5em auto;
    font-size: 1.5em;
    background-color:rgba(0,0,0,0.3);
}

.input-btn {
    width: 3em;
    height: 3em;
    padding-top: 1em;
    margin: 0 1em;
    border-radius: 50%;
    box-shadow: 0px 0px 1em white;
    vertical-align: middle;
    color: white;
}

#myChart {
    background-color:rgba(0,0,0,0.3);
    width:100%;
    height: 70vh;
}

@media screen and (min-width: 768px) {
    .input-btn {
        display: inline-block;
        width: 6em;
        height: 6em;
        padding-top: 2em;
        margin: 0 2em;
        border-radius: 50%;
        box-shadow: 0px 0px 1em white;
        vertical-align: middle;
        color: white;
    }

    #myChart {
        height: auto;
        height: 70vh;
    }
}

.nav-tabs>li.active>a {
    /* color: #337ab7; */
    color: red;
	background-color: transparent;
    border: none;
}

.nav-tabs>li>a {
	color: #000;
}

/* colour coding for the moods*/
.frustrated { background-color: #ff7c35 !important;}
.angry { background-color: #ff1f01 !important; color: white !important;}
.astonished { background-color: #cfc72f !important;}
.nervous { background-color: #ff1f01 !important;}
.depressed { background-color: #005276 !important;}
.terrified { background-color: #ab7f1d !important;}
.mixed { background-color: #ffdfaf !important;}
.disbelief { background-color: #e475d2 !important;}
.happy { background-color: #0077b9 !important;}
.fear { background-color: #003fb3 !important; color: white !important;}
.sad { background-color: #0077b9 !important; color: white !important;}
.surprised { background-color: #ffeaaa !important;}
.mixed { background-color: #ffdfaf !important;}
.calm { background-color: #c2f0f3 !important;}