<ul class="nav nav-tabs text-center">
  <li role="presentation" class="active"><a routerLink="/calendar/year">Year</a></li>
  <li role="presentation"><a routerLink="/calendar/month">Month</a></li>
  <li role="presentation"><a routerLink="/calendar/day">Day</a></li>
</ul>

<div class="year-view">
	<div class="">
		<div class="month col-xs-4 col-md-3">
			1
		</div>


		<div class="month col-xs-4 col-md-3">
			2
		</div><div class="month col-xs-4 col-md-3">
			3
		</div><div class="month col-xs-4 col-md-3">
			4
		</div><div class="month col-xs-4 col-md-3">
			5
		</div><div class="month col-xs-4 col-md-3">
			6
		</div><div class="month col-xs-4 col-md-3">
			7
		</div><div class="month col-xs-4 col-md-3 mixed">
			8
			<h3>Mixed</h3>
		</div><div class="month col-xs-4 col-md-3">
			9
		</div><div class="month col-xs-4 col-md-3">
			10
		</div><div class="month col-xs-4 col-md-3">
			11
		</div><div class="month col-xs-4 col-md-3">
			12
		</div>
	</div>

</div>