<ul class="nav nav-tabs text-center">
  <li role="presentation" class="active"><a routerLink="/calendar/year">Year</a></li>
  <li role="presentation"><a routerLink="/calendar/month">Month</a></li>
  <li role="presentation"><a routerLink="/calendar/day">Day</a></li>
</ul>

<div class="year-view">
	<div class="">
		<div class="month active col-xs-4 col-md-3">
			1
		</div>


		<div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div><div class="month col-xs-4 col-md-3">
			1
		</div>
	</div>

</div>