<div>
	<mwl-demo-utils-calendar-header
  	[(view)]="view"
		[(viewDate)]="viewDate"
		(hover)="headerClicked($event, $scope)"
		>
	</mwl-demo-utils-calendar-header>

	<div class="alert alert-info">
		Click on a day on the view.
		<strong *ngIf="clickedDate">You're on: {{ clickedDate | date:'medium' }}</strong>
	</div>

	<div [ngSwitch]="view">
		<mwl-calendar-month-view
			*ngSwitchCase="'month'"
			[viewDate]="viewDate"
			[events]="events"
			(dayClicked)="dayClick($event)">
		</mwl-calendar-month-view>
		<mwl-calendar-week-view
			*ngSwitchCase="'week'"
			[viewDate]="viewDate"
			[events]="wkEvents(events)">
		</mwl-calendar-week-view>
		<mwl-calendar-day-view
			*ngSwitchCase="'day'"
			[viewDate]="viewDate"
			[events]="eventSqr(events)"
			style="display:none;">
		</mwl-calendar-day-view>
	</div>

	<div>
		<canvas id="myChart">Chart.js stuff</canvas>
	</div>
</div>